<h1 style="text-align:center">Actualizar Entidad</h1>

<form ng-controller="UpdateController" style="text-align:center">
    <p>Id: <input  type="text" name="idEntidadBancaria" disabled="{{isDisabled}}" ng-value="{{entidadBancaria.idEntidadBancaria}}"  /></p> 
    <p>Nombre: <input type="text" name="nombre" ng-model="entidadBancaria.nombre"/></p> 
    <p>Codigo Entidad: <input type="text" name="codigoEntidad" ng-model="entidadBancaria.codigoEntidad"/></p>
    <p>Fecha de creacion: <input type="text" name="fechaCreacion" ng-model="entidadBancaria.fechaCreacion"/></p>
    <p>Direccion: <input type="text" name="direccion" ng-model="entidadBancaria.direccion"/></p>
    <p>CIF: <input type="text" name="cif" ng-model="entidadBancaria.cif"/></p>
    <input ng-click="actualizar()" type="submit" value="Actualizar"/><input type="reset" value="Borrar"/><br><br>
</form>

<br /> <br /><a href="#/main"> Volver </a>